
/*juanita (perfil chicas, ya saben)*/
.rounded-circle-juanita {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.name {
    font-weight: 400;
    color: black;
}
.description {
    font-weight: 300;
    color: black;
}


/*menu desktop, */
.sidebar {
    height: 85vh;
    position: sticky;
    top: 0;
    border-radius: 0.5rem;
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 8px;

}

.nav-item:not(:last-child) .nav-link {
    color: black;
}
.nav-item:last-child .nav-link {
    color: #1b9aaa;
}
.nav-item:hover {
    background-color: #f1eee3cc;
    border-radius: 4px;
    font-weight:500;
}
.active{
    font-weight:600;
}

.rounded-button {
    background-color: #1b9aaa;
    border-color: #f5f1e3;
    border-radius: 25px;
    padding: 5px 0;
    font-size: 24px;
    color: #050505;
    width: 100%;
    transition: transform 0.2s;
}
.rounded-button:hover{
    background-color: #047c8b;
    border-color: #dad2b6;
    color: #f5f1e3;
}
.rounded-button:active {
    background-color: #1b9aaa !important;
    transform: scale(1.04);
}

/*menu celulares*/
@media (max-width: 600px) {
    .navbar {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #f5f1e3 !important;
        color: #050505;
        border-radius: 8px;
    }
}

.historias,
.section-img,
.section-portfolio {
    background-color: #dddbcb;
    padding: 1rem;
    border-radius: 8px;
}

.img-perfil {
    width: 40px;
    cursor: pointer;
}

.section-img img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.portfolio {
    background-color: #1b9aaa;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
}

/* ESTILOS DEL CARROUSEL ------------------------------------------------------------*/
.carousel {
    max-width: 400px;
    margin: 0 auto;
}

.carousel-item {
    position: relative;
}

.carousel-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.user-actions {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    background-color: #fcffff;
}

.user-info {
    display: flex;
    align-items: center;
    /*  position: absolute;
    top: 85%;
    left: 10px;
    padding: 5px 10px; */

    /*  border-radius: 15px;
    background-color: #1b9aaa;
    color: black; */
}

.user-info img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 2px 5px rgba(10, 10, 10);
}

.user-info span {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.like-button {
    position: absolute;
    bottom: 7%;
    right: 50%;
    transform: translateY(50%);
    font-size: 24px;
    color: transparent;
    cursor: pointer;
    transition: color 0.3s ease;
    text-shadow: 0 0 1px grey;
}

.like-button.liked {
    color: red;
}

/* .menu-inferior {
    display: none;
    position: fixed;
    bottom: 0;
    top: 0;
    width: 100%;
    background-color: #1b9aaa;
    border-top: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
} */

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
    .menu-inferior {
        display: flex;
    }
}

@media (max-width: 576px) {
    .like-button {
        right: 40%;
    }
}

/* .story-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

/* tamaño tablet 
@media (min-width: 768px) {
    .story-img {
        width: 50px;
        height: 50px;
    }
}

/* tamaño pantallas grandes 
@media (min-width: 992px) {
    .story-img {
        width: 80px;
        height: 80px;
    }
} */

.main-container {
    padding: 20px;
}

.stories-container {
    display: flex;
    gap: 0.6rem; 
    overflow-x: auto; 
    padding: 10px;
    white-space: nowrap; 
    max-width: 100%; 
}

.stories-container::-webkit-scrollbar {
    display: none;
}

.story {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-shrink: 0; 
    justify-content: center;
    align-items: center;
    width: 6.1rem;
}


.story img {
    width: 80px; 
    height: 80px;
    object-fit: cover; 
    border-radius: 50%; 
    border: 2px solid #ccc; 
    cursor: pointer;
}

.image-wrapper {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 2px solid #269294; 
    padding: 0.25rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.carousel-inner {
    display: flex;
    flex-wrap: nowrap;
}

.story[data-viewed="true"] .image-wrapper {
    opacity: 0.5; 
}

.story p {
    font-size: 0.8rem;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
    width: 100%; 
}

/* Popup de historias */
#story-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
}

#story-viewer.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
}

#story-viewer.visible {
    visibility: visible;
    opacity: 1;
}

.story-popup {
    position: relative;
    width: 80%;
    max-width: 400px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.story-popup img {
    width: 100%;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #000;
}

.rounded-img {
    border-radius: 50%;
}