
.img-perfil {
    width: 40px;
    cursor: pointer;
}

.section-img img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.portfolio {
    border-radius: 8px;
}

/* ESTILOS DEL CARROUSEL ------------------------------------------------------------*/
.carousel {
    max-width: 400px;
    margin: 0 auto;
}

.carousel-item {
    position: relative;
}

.carousel-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.user-actions {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 2px 5px rgba(10, 10, 10);
}

.user-info span {
    font-size: 16px;
    font-weight: bold;
}

.like-button {
    position: absolute;
    bottom: 7%; 
    right: 50%;  
    transform: translateY(50%);
    font-size: 24px;
    color: transparent;
    cursor: pointer;
    transition: color 0.3s ease;
    text-shadow: 0 0 1px grey;
}

.like-button.liked {
    color: red;
}

@media (max-width: 576px) {
    .like-button {
        right: 40%;
    }
}

.main-container {
    padding: 20px;
}

.stories-container {
    display: flex;
    gap: 0.6rem; 
    overflow-x: auto; 
    padding: 10px;
    white-space: nowrap; 
    max-width: 100%; 
}

.stories-container::-webkit-scrollbar {
    display: none;
}

.story {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-shrink: 0; 
    justify-content: center;
    align-items: center;
    width: 6.1rem;
}


.story img {
    width: 80px; 
    height: 80px;
    object-fit: cover; 
    border-radius: 50%; 
    border: 2px solid #ccc; 
    cursor: pointer;
}

.image-wrapper {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 2px solid #269294; 
    padding: 0.25rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.carousel-inner {
    display: flex;
    flex-wrap: nowrap;
}

.story[data-viewed="true"] .image-wrapper {
    opacity: 0.5; 
}

.story p {
    font-size: 0.8rem;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
    width: 100%; 
}

/* Popup de historias */
#story-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
}

#story-viewer.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
}

#story-viewer.visible {
    visibility: visible;
    opacity: 1;
}

.story-popup {
    position: relative;
    width: 80%;
    max-width: 400px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.story-popup img {
    width: 100%;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #000;
}

.rounded-img {
    border-radius: 50%;
}

/* portfolios */
.container-portfolio {
    max-height: 580px;
    overflow-y: auto;
}